Source: kamaki
Section: python
Priority: optional
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
XSBC-Original-Maintainer: Stavros Sachtouris <saxtouri@admin.grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5), python-objpool,
 python-sphinx, python-astakosclient
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
Homepage: https://code.grnet.gr/projects/kamaki

Package: kamaki
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools,
 python-objpool (>= 0.2), python-progress (>= 1.1),
 python-astakosclient (>= 0.14.10)
Suggests: python-ansicolors
XB-Python-Version: ${python:Versions}
Description: command-line tool for managing clouds
 Simple, yet intuitive, command-line tool for managing clouds.
 It is an initial implementation of the OpenStack Compute API,
 v1.1, with custom extensions specific to the Synnefo IaaS cloud
 management software.

