Source: kamaki
Section: python
Priority: optional
Maintainer: Stavros Sachtouris <saxtouri@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5)
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6
Homepage: https://code.grnet.gr/projects/kamaki

Package: kamaki
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools, snf-common (>= 0.11), python-ordereddict
Suggests: python-progress, python-ansicolors
XB-Python-Version: ${python:Versions}
Description: Simple, yet intuitive, command-line tool for managing clouds.
             It is an initial implementation of the OpenStack Compute API, 
             v1.1, with custom extensions specific to the Synnefo IaaS cloud 
             management software.


